body{

	background: #F5F5F5;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

a{

	text-decoration: none;
	font-size: 20px;
	color: black;
	padding: 5px;
}

a:hover{

	background: white;
	color: #DEB887;
}

h1{

	font-size: 2.5em;

}

h2{
	font-family: sans-serif;
	margin: 0px;
}

#area-cabecalho{

	text-align: center;
	background: #DEB887;
	padding: 10px;
}

#menu-cabecalho{

	padding: 10px;
}

#area-principal{

	width: 920px;
	margin: 0 auto;
	padding: 20px;
	background: white;
	
}

#area-postagens{

	
	float: left;
	width: 660px;
	background: white;
	padding: 5px;
	
}

#area-lateral{
	width: 240px;
	float: right;
	
}

#rodape{

	background: gray;
	clear: both;
	text-align: center;
	padding: 10px;
	margin: 0px;
}

.postagem{

	margin: 10px;
	background: #F5F5F5;
	
}

.data-postagem{
	margin: 0px;
	margin-bottom: 50px;
}

.recentes-postagens{

	background: #FFEBCD;
	padding: 5px;

}

.position{

	text-align: center;
	background: #FFA07A;
}