body{

	margin: 0px;
}

a{

	text-decoration: none;
	font-size: 18px;
	color: black;
}


#cabecalho{

	background: url(../Imagens/Black-degrade.jpg) repeat;
	padding: 10px;
}

#logo{

	float: left;
	font-size: 1.5em;
	padding: 5px;
	border-right: solid 2px silver;
}

#menu{

	float: left;
}

#menu ul li{

	list-style: none;
	padding: 0px;
	float: left;
}


#menu a{

	color: black;
	background: #c0c0c0;
	padding: 10px 2em;
	border-right: solid 1px lightgray;
	position: relative;
	top: 40px;
}

#menu a:hover{

	background: lightgray;
	color: white;
}

#area-conteudo{

	width: 920px;
	margin: 0px auto;
	padding: 10px  0px;
	background: ;
}

#area-conteudo a:hover{

	padding: 5px;
	text-decoration: underline;
}

#postagem-principal{

	width: 450px;
	padding: 5px;
	float: left;
	border: solid 1px;

}

#postagem-esquerda{

	width: 220px;
	padding: 5px;
	float: left;
	border: solid 1px;
}

#postagem-esquerda a{

	color: black;
	font-family: sans-serif ;
}

#postagem-esquerda a:hover{

	text-decoration: underline;
	padding: 5px;
}

#postagem-direita{

	width: 220px;
	float: right;
	border: solid 1px;
}

#postagem-ld{

	background: #c0c0c0;
}

.lista-cat li{

	list-style: none;
	padding: 5px;
}

.titulo{

	text-align: center;
	background: lightgray;
}

.clear{

	clear: both;
}