body{
	background: #D3D3D3;
}


#principal{

	width: 900px;
	
	

}

#menu{
	
	background: #808080 ;
	padding: 10px;
	
}

#conteudo{

	background: #C0C0C0;
	padding: 10px;
}


a{

	text-decoration: none;
	font: 16px;
	padding: 10px;
	font-weight: bold;
	color: black;

}

